In [2]:
!pip install ipython-autotime
%load_ext autotime

Requirement already satisfied: ipython-autotime in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (0.3.1)
Requirement already satisfied: ipython in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython-autotime) (7.23.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: pygments in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (2.9.0)
Requirement already satisfied: jedi>=0.16 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.1.2)
Requirement already satisfied: colorama in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (3.0.18)
Requirement already satisfied: setuptools>=18.5 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (56.0.0)
Requirement already satisfied: backcall in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: decorator in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (5.0.9)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->ipython-autotime) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
time: 0 ns (started: 2021-06-03 13:08:36 +06:00)

# Apriori Algorithm

In [4]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.75, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 1.09 s (started: 2021-06-03 13:11:23 +06:00)

In [5]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.80, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 47 ms (started: 2021-06-03 13:12:41 +06:00)

In [6]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.85, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 47 ms (started: 2021-06-03 13:12:52 +06:00)

In [7]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.90, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 63 ms (started: 2021-06-03 13:13:05 +06:00)

In [8]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.95, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 47 ms (started: 2021-06-03 13:13:19 +06:00)

In [24]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.0005, use_colnames=True)
frequent_itemset

     support itemsets
0   0.001252      (0)
1   0.002504      (1)
2   0.002817      (2)
3   0.002191      (3)
4   0.002817      (4)
5   0.002504      (5)
6   0.002504      (6)
7   0.001878      (7)
8   0.001252      (8)
9   0.000939      (9)
10  0.000626   (1, 3)
11  0.000626   (2, 5)
12  0.000626   (2, 7)
13  0.000626   (4, 6)

time: 63 ms (started: 2021-06-03 13:28:54 +06:00)

In [27]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.00010, use_colnames=True)
frequent_itemset

     support itemsets
0   0.001252      (0)
1   0.002504      (1)
2   0.002817      (2)
3   0.002191      (3)
4   0.002817      (4)
5   0.002504      (5)
6   0.002504      (6)
7   0.001878      (7)
8   0.001252      (8)
9   0.000939      (9)
10  0.000313   (0, 4)
11  0.000313   (0, 5)
12  0.000313   (0, 6)
13  0.000313   (0, 7)
14  0.000313   (1, 2)
15  0.000626   (1, 3)
16  0.000313   (1, 5)
17  0.000313   (1, 7)
18  0.000313   (1, 9)
19  0.000313   (2, 3)
20  0.000313   (2, 4)
21  0.000626   (2, 5)
22  0.000313   (2, 6)
23  0.000626   (2, 7)
24  0.000313   (9, 2)
25  0.000313   (3, 4)
26  0.000313   (3, 6)
27  0.000313   (8, 3)
28  0.000313   (4, 5)
29  0.000626   (4, 6)
30  0.000313   (4, 7)
31  0.000313   (8, 4)
32  0.000313   (5, 6)
33  0.000313   (8, 5)
34  0.000313   (8, 6)

time: 79 ms (started: 2021-06-03 13:34:58 +06:00)

In [28]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.0015, use_colnames=True)
frequent_itemset

    support itemsets
0  0.002504      (1)
1  0.002817      (2)
2  0.002191      (3)
3  0.002817      (4)
4  0.002504      (5)
5  0.002504      (6)
6  0.001878      (7)

time: 78 ms (started: 2021-06-03 13:35:13 +06:00)

# FP Growth Algorithm

In [10]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.75)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 32 ms (started: 2021-06-03 13:15:44 +06:00)

In [11]:
fpgrowth(df, min_support=0.80)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 32 ms (started: 2021-06-03 13:16:00 +06:00)

In [12]:
fpgrowth(df, min_support=0.85)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 47 ms (started: 2021-06-03 13:16:11 +06:00)

In [13]:
fpgrowth(df, min_support=0.90)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 47 ms (started: 2021-06-03 13:16:24 +06:00)

In [14]:
fpgrowth(df, min_support=0.95)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 47 ms (started: 2021-06-03 13:16:32 +06:00)

In [29]:
fpgrowth(df, min_support=0.0005)

     support itemsets
0   0.002504      (1)
1   0.002191      (3)
2   0.002504      (5)
3   0.001878      (7)
4   0.000939      (9)
5   0.002817      (2)
6   0.002817      (4)
7   0.002504      (6)
8   0.001252      (8)
9   0.001252      (0)
10  0.000626   (1, 3)
11  0.000626   (2, 5)
12  0.000626   (2, 7)
13  0.000626   (4, 6)

time: 47 ms (started: 2021-06-03 13:35:56 +06:00)

In [30]:
fpgrowth(df, min_support=0.00010)

     support itemsets
0   0.002504      (1)
1   0.002191      (3)
2   0.002504      (5)
3   0.001878      (7)
4   0.000939      (9)
5   0.002817      (2)
6   0.002817      (4)
7   0.002504      (6)
8   0.001252      (8)
9   0.001252      (0)
10  0.000313   (1, 5)
11  0.000313   (1, 2)
12  0.000626   (1, 3)
13  0.000313   (2, 3)
14  0.000313   (3, 4)
15  0.000313   (3, 6)
16  0.000626   (2, 5)
17  0.000313   (4, 5)
18  0.000313   (5, 6)
19  0.000313   (1, 7)
20  0.000626   (2, 7)
21  0.000313   (4, 7)
22  0.000313   (9, 1)
23  0.000313   (9, 2)
24  0.000313   (2, 4)
25  0.000626   (4, 6)
26  0.000313   (2, 6)
27  0.000313   (8, 3)
28  0.000313   (8, 4)
29  0.000313   (8, 5)
30  0.000313   (8, 6)
31  0.000313   (0, 4)
32  0.000313   (0, 5)
33  0.000313   (0, 6)
34  0.000313   (0, 7)

time: 62 ms (started: 2021-06-03 13:36:28 +06:00)

In [31]:
fpgrowth(df, min_support=0.0015)

    support itemsets
0  0.002504      (1)
1  0.002191      (3)
2  0.002504      (5)
3  0.001878      (7)
4  0.002817      (2)
5  0.002817      (4)
6  0.002504      (6)

time: 47 ms (started: 2021-06-03 13:37:05 +06:00)